{% extends "base.html" %}
{% load static i18n %}


{% block content %}
    {% url 'django_sftpbrowser:sftp-index' as redirLink %}
    <p id="welcome_msg">{% blocktrans %} You are authenticated now. You may go on and
        explore the sheet music and resources by clicking <a id="redirLink" href="{{redirLink}}">this link</a>.
    {% endblocktrans %}</p>

    <div id="countdown">5</div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock javascript %}
